.hcard {
  height: 100vh ;
}

.hcard--form h1 {
  color: #394f63;
}

.hcard--form p {
  color: #c5cccf;
  font-size: 0.8em;
  border-bottom: 1px solid #c5cccf;
  margin-bottom: 2.5em !important;
}

.ui.form .field>label {
  color: #7f8c99 !important;
  font-weight: 500;
}

.ui.fluid.card {
  margin-top: 0 !important;
}

.ui.card>.content {
  padding: 0 0 !important;
}

.ui.basic.table {
  padding: 0 1.5em !important;
}

.hacrd--preview {
  background-color: #e7e9ec;
  display: flex !important;
  justify-content: center ;
  align-items: flex-end;
  padding: 0 50px !important;
}

.hacrd--preview-header {
  background-color: #394f63;
  color: #ffffff !important;
  height: 10vh;  
}

.hacrd--preview-header h2 {
  float: left;
  padding-top: 1.5em;
  padding-left: 1em;
}

.hacrd--preview h4 {
  color: #c0c9cb;
}

.ui.fluid.input input {
  border-radius: 0 !important;
  border: none !important;
}

.hacrd--preview-img {
  margin-right: 1.2em !important;
  margin-top: 1.5em;

}

table {
  border-collapse: collapse;
  margin: 30px;
}

td {
  padding: 0 8px;
  text-align: left;
  vertical-align: bottom;
  padding: 0;
}

tr {
  height: 30px;  
  border-bottom: 1px solid #ddd;
  padding: 10px;
}

td:first-child , td:nth-child(3) {
  width: 120px;  
  color: #7f8c99;
  font-size: 0.8em;
}

td:last-child {
  width: 350px;
}

td:nth-child(2) {
  width:300px;
}

input[type="file"] {
  display: none;
}

.hcard--form-file-upload {
  border: 1px solid #ccc;
  display: inline-block;
  padding: .536em 1.5em;
  cursor: pointer;
  background-color: #758e9d;
  color: #fff;
  text-shadow: none;
  background-image: none;
  border-radius: .28571429rem;
  font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
  width: 100%;
  text-align: center;
  color: white;
}

.hcard--form-upload-button {
  padding-right: 0.5em !important;
}

.hcard--form-create-button {
  padding-left: 0.5em !important;
}

@media (min-width: 767px) {
  .hcard--form, .hacrd--preview {
    height: 600px;
  } 
}

@media (max-width: 767px) {
  .hcard {
    margin-top: 10px !important;
  }
}